@inherits LayoutComponentBase

<MudThemeProvider/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar Elevation="1" Color="Color.Primary">
        <MudText Typo="Typo.h6">PraktykiApp</MudText>
        <MudSpacer/>
        <AuthorizeView>
            <Authorized>
                <MudText Typo="Typo.body2" Class="mr-3">@context.User.Identity?.Name</MudText>
                <MudButton Variant="Variant.Outlined" Color="Color.Inherit" Href="/logout" StartIcon="@Icons.Material.Filled.Logout">Wyloguj</MudButton>
            </Authorized>
            <NotAuthorized>
                <MudButton Variant="Variant.Outlined" Color="Color.Inherit" Href="/login" StartIcon="@Icons.Material.Filled.Login">Zaloguj</MudButton>
            </NotAuthorized>
        </AuthorizeView>
    </MudAppBar>
    <MudDrawer Open="true" Elevation="1" Variant="@DrawerVariant.Mini" OpenMiniOnHover="true">
        <NavMenu/>
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.False" Class="pa-6">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    Wystąpił nieoczekiwany błąd.
    <a href="." class="reload">Przeładuj</a>
    <span class="dismiss">🗙</span>
</div>
